SOAP/WebContent/wsdl/TicketServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.mentoring.epam.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.mentoring.epam.com" xmlns:intf="http://soap.mentoring.epam.com" xmlns:tns1="http://model.soap.mentoring.epam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.mentoring.epam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.soap.mentoring.epam.com"/>
   <element name="bookTicket">
    <complexType>
     <sequence>
      <element name="ticket" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookTicketResponse">
    <complexType>
     <sequence>
      <element name="bookTicketReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="returnTicket">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="returnTicketResponse">
    <complexType>
     <sequence>
      <element name="returnTicketReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicket">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicketResponse">
    <complexType>
     <sequence>
      <element name="getTicketReturn" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <element name="payTicket">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="payTicketResponse">
    <complexType>
     <sequence>
      <element name="payTicketReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.soap.mentoring.epam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Person">
    <sequence>
     <element name="middlename" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:int"/>
     <element name="surname" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Ticket">
    <sequence>
     <element name="cityArrival" nillable="true" type="xsd:string"/>
     <element name="cityDeparture" nillable="true" type="xsd:string"/>
     <element name="dateArrival" nillable="true" type="xsd:dateTime"/>
     <element name="dateDeparture" nillable="true" type="xsd:dateTime"/>
     <element name="id" type="xsd:int"/>
     <element name="person" nillable="true" type="tns1:Person"/>
     <element name="state" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="payTicketRequest">

      <wsdl:part element="impl:payTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketResponse">

      <wsdl:part element="impl:getTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookTicketResponse">

      <wsdl:part element="impl:bookTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnTicketRequest">

      <wsdl:part element="impl:returnTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnTicketResponse">

      <wsdl:part element="impl:returnTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketRequest">

      <wsdl:part element="impl:getTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payTicketResponse">

      <wsdl:part element="impl:payTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookTicketRequest">

      <wsdl:part element="impl:bookTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TicketServiceImpl">

      <wsdl:operation name="bookTicket">

         <wsdl:input message="impl:bookTicketRequest" name="bookTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookTicketResponse" name="bookTicketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnTicket">

         <wsdl:input message="impl:returnTicketRequest" name="returnTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:returnTicketResponse" name="returnTicketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTicket">

         <wsdl:input message="impl:getTicketRequest" name="getTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTicketResponse" name="getTicketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payTicket">

         <wsdl:input message="impl:payTicketRequest" name="payTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:payTicketResponse" name="payTicketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TicketServiceImplSoapBinding" type="impl:TicketServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TicketServiceImplService">

      <wsdl:port binding="impl:TicketServiceImplPortBinding" name="TicketServiceImplPort">

         <wsdlsoap:address location="http://localhost:8080/service/ticket"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
